/*** Common CSS ***/
body,ul,li{
    margin: 0px;
    padding: 0px;
}

button{
    cursor: pointer;
}

li {
    transition: all 0.5s ease-out;
    border: 1px solid black;
}

#main ul {
    list-style: none;
}

ul.list{
    margin:10px;
}

#main #apps ul.list{
    margin: 9px 0px 0px 9px;
}

#apps.metro.flex-container .flex-item span,#apps.grid.flex-container .flex-item span{
    margin-top: 44px;
    display: block;
    text-align: center;
}

#main ul.metro{
    height: 800px;
    column-width: 100px;
    column-gap: 5px;
    margin-top: 5px;
}


#main #apps ul.grid,#main #apps ul.metro{
    margin: 5px 0px 0px 5px;
}

#main .list li {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: grey;
    line-height: 30px;
}

#main .grid li {
    float: left;
    background: grey;
    margin: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 4px;
    line-height: 100px;
}

#main .metro li{
    margin: 0px 4px 4px 4px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 4px;
    background: grey;
    flex-flow: row;
    line-height: 100px;
}

/***** CSS for Side Bar *******/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.25s ease-out;
}

/* The navigation menu links */
.sidebar button {

}

.sidebar label{
    margin: 0px 20px 5px 20px;
    display: block;
    min-width: 60px;
}

/* When you mouse over the navigation buttons, change their color */
.sidebar button:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* For smaller screens, where height is less than 450px */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/**************** CSS For SideBar Buttons **************/

.sidebar button{
    padding: 8px;
    font-size: 11px;
    background-color: grey;
    display: block;
    border-radius: 2px;
    min-width: 55px;
    min-height: 30px;
    margin: 0 auto;
    text-decoration: none;
    background: #424242;
    background-image: -webkit-linear-gradient(top, #424242, #919191);
    background-image: -moz-linear-gradient(top, #424242, #919191);
    background-image: -ms-linear-gradient(top, #424242, #919191);
    background-image: -o-linear-gradient(top, #424242, #919191);
    background-image: linear-gradient(to bottom, #424242, #919191);
    color: #fff;
    margin-bottom: 3px;
    border: 0px;
}
.sidebar button.active {
    background: #0665b8;
    background-image: -webkit-linear-gradient(top, #0665b8, #47b8ff);
    background-image: -moz-linear-gradient(top, #0665b8, #47b8ff);
    background-image: -ms-linear-gradient(top, #0665b8, #47b8ff);
    background-image: -o-linear-gradient(top, #0665b8, #47b8ff);
    background-image: linear-gradient(to bottom, #0665b8, #47b8ff);
}

.sidebar button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.sidebar button.list{
    border-radius: 4px 4px 0px 0px;
}

.sidebar button.grid{
    border-radius: 0px;
}

.sidebar button.metro{
    border-radius: 0px 0px 4px 4px;
}

*:focus { /*** <--- Bad for Accessibility ****/
    outline: none;
}