body,ul,li{
    margin: 0px;
    padding: 0px;
}
button{
    cursor: pointer;
}
li {
    transition: all 0.5s ease-out;
    border: 1px solid black;
    background: grey;
}
.metro li,.grid li{
    line-height: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 4px;
}
#main ul {
    list-style: none;
}
#main ul.list{
    margin: 9px 9px 0px 9px;
}

#main ul.metro{
    height: 749px;
    column-width: 107px;
    column-gap: 0px;
    overflow-y: hidden;
}
#main ul.metro{
    margin: 5px 0px 0px 0px;
}
#main ul.grid{
    margin: 3px 0px 0px 4px;
}
#main .list li {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 10px;
    line-height: 32px;
}
#main .grid li {
    float: left;
    margin: 3px;
}
#main .metro li{
    margin: 0px 0px 6px 6px;
}
/****************** CSS for Side Bar ***************/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.25s ease-out;
}
.sidebar label{
    margin: 0px 20px 5px 20px;
    display: block;
    min-width: 60px;
}
/* For smaller screens, where height is less than 450px */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/*** SideBar Buttons ****/
.sidebar button{
    padding: 8px;
    font-size: 11px;
    background-color: grey;
    display: block;
    border-radius: 2px;
    min-width: 55px;
    min-height: 30px;
    margin: 0 auto;
    text-decoration: none;
    background: #424242;
    background-image: -webkit-linear-gradient(top, #424242, #919191);
    background-image: linear-gradient(to bottom, #424242, #919191);
    color: #fff;
    margin-bottom: 3px;
    border: 0px;
}
.sidebar button.active {
    background: #0665b8;
    background-image: -webkit-linear-gradient(top, #0665b8, #47b8ff);
    background-image: linear-gradient(to bottom, #0665b8, #47b8ff);
}
.sidebar button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
.sidebar button.list{
    border-radius: 4px 4px 0px 0px;
}
.sidebar button.grid{
    border-radius: 0px;
}
.sidebar button.metro{
    border-radius: 0px 0px 4px 4px;
}
*:focus { /*** <--- Bad for Accessibility ****/
    outline: none;
}